<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem vindo ao Lupa Vagas!</title>
</head>
<style>
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  a {
    padding: 5px 8px;
    background-color: aquamarine;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
  }

  .text {
    font-size: 14px;
    margin-bottom: 10px;
  }
</style>
<body>
  <div class="text">Seja bem vindo ao Lupa vagas! Clique no botão a baixo para confirmar o seu cadastro!</div>
  <a href="{{link}}">Confirmar</a>
</body>
</html>
